<html>
<body>

<p><a href="/logout">Logout</a></p>

<form action="/add-workout" method="post">
    <div>
        <label for="exercise">Exercise</label>
        <input type="text" name="exercise" value="" />
    </div>
    <div>
        <label for="muscleGroup">Muscle Group</label>
        <input type="text" name="muscleGroup" value="" />
    </div>
    <div>
        <label for="sets">Sets</label>
        <input type="text" name="sets" value="" />
    </div>
    <div>
        <label for="reps">Reps</label>
        <input type="text" name="reps" value="" />
    </div>
    <div>
        <label for="notes">Notes</label>
        <input type="text" name="notes" value="" />
    </div>
    <button>Add Workout</button>
</form>

<form action="/" method="get">
    <div>
        <label for="search">Search</label>
        <input type="text" name="search" value="" />
    </div>
    <button>Search</button>
</form>

<ul>
    <li><a href="/?muscleGroup=Shoulders">Shoulders</a></li>
    <li><a href="/?muscleGroup=Back">Back</a></li>
    <li><a href="/?muscleGroup=Pectorals">Pectorals</a></li>
    <li><a href="/?muscleGroup=Biceps">Biceps</a></li>
</ul>

<table border="1">
    <tr>
        <th>Exercise</th>
        <th>Muscle Group</th>
        <th>Sets</th>
        <th>Reps</th>
        <th>Notes</th>
    </tr>

    {{#workouts}}
        <tr>
            <td>
                {{exercise}}
            </td>
            <td>
                {{muscleGroup}}
            </td>
            <td>
                {{#sets}}
                    {{.}}
                {{/sets}}
            </td>
            <td>
                {{reps}}
            </td>
            <td>
                {{notes}}
            </td>
        </tr>
    {{/workouts}}
</table>

</body>
</html>